  <!-- BOXES -->
  <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="shop-promo-box text-right" style="background-image: url(assets/homepages/shop-v2/images/collection-left.jpg);">
                    <h2>BURNOUT</h2>
                    <p>
                        We offer a range of services for
                        <br /> both businesses and individuals companies,
                        <br /> Beautiful nature, and rare feathers!. Morbi sagittis,
                        <br /> sem quis lacinia faucibus, orci ipsum
                        <br /> gravida tortor.</p>
                    <a class="btn btn-dark" href="#">View Collection</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="shop-promo-box text-left" style="background-image: url(assets/homepages/shop-v2/images/collection-right.jpg);">
                    <h2>OVER</h2>
                    <p>
                        We offer a range of services for
                        <br /> both businesses and individuals companies,
                        <br /> Beautiful nature, and rare feathers!. Morbi sagittis,
                        <br /> sem quis lacinia faucibus, orci ipsum
                        <br /> gravida tortor.</p>
                    <a class="btn btn-dark" href="#">View Collection</a>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- end: BOXES -->
